@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.font-poppins {
    font-family: "Poppins", sans-serif;
}
.font-courier {
    font-family: "courier";
}
.text-main {
    color: #674ea7 !important;
}
.bg-main {
    background-color: #674ea7 !important;
}
a {
    text-decoration: none;
}
.border-rd {
    border-radius: 30px !important;
}
.jumbotron {
    background-image: url("../images/jumbotron.jpeg") !important;
    background-size: cover !important;
    padding-top: 300px !important;
    padding-bottom: 250px !important;
    position: relative !important;
    opacity: 0.9;
}
.jumbotron .display-4 {
    font-size: 64px !important;
    text-shadow: 1px 1px 5px black;
}
.navbar-brand img {
    width: 250px !important;
}
.jumbotron p {
    font-size: 24px !important;
}
.panel {
    margin-top: -70px !important;
}
.icon-panel {
    width: 70px !important;
}
.tulisan {
    display: inline !important;
}
@media (min-width: 720px) {
}
